body{
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    
    display: flex;
}
.container{
    align-items: center;
    display: flex;
    justify-content: center;
}
.navs{
    display: flex;
    list-style: none;
    gap: 30px;
}
.intro{
    color: white;
    justify-content: center;
    text-align: center;
    display: flex;
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat; 
}
.specials{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
img{
    width: 150px;
    height: auto;
}
a{
    color: black;
    text-decoration: none;
}