body{
    background-color: white;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
header{
    background-color: rgb(188, 119, 119);
    color: white;
    display: flex;
    align-items: center;
}
.container{
    margin-left: auto;
    display: flex;
    
}
.navs{
    display: flex;
    list-style: none;
    gap: 30px;
}
.intro{
    background-color: rgb(174, 40, 40);
    align-items: center;
    text-align: center; 
}
a{
    text-decoration: none;
}