:root{
    --background: #A0AEC0;
    --background-dish: #c2c2bc;
    --food-hover: #3f3f3f;
    --background-button: #202020;
    --btn: #c9c9c9;
    --btn-hover: #ffffff;
    --text-color: #000000;
    --footer:#e0e0e0;
}
body{
    background-color: var(--background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}
nav{
    display: flex;
    justify-content: flex-end;
}
.navs{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navs a{
    padding: 8px 18px;
    border-radius: 25px;
    background-color: var(--background-button);
    color: white;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
form{
    position: relative;
    margin: auto;
    width: 400px;
}
#search-input{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--food-hover);
    border-radius: 1000px;
    font: inherit;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    background-color: var(--background-button);
    caret-color: white;
}
#search-input::placeholder{
    color: white;
}
#search-input:focus{
    outline: var(--background);
}
#search-btn{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0 30px;
    border: none;
    border-radius: 1000px;
    font: inherit;
    font-weight: 600;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
#search-btn:hover{
    background-color: var(--food-hover);
    color: white;
}
#menu{
    color:black;
}
.dishes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
h1{
    grid-column: 1/-1;
    text-align: center;
}
.dishes h2{
    justify-self:center;
    text-align: center;
    background-color: var(--background-button);
    padding: 10px 20px;
    width: 200px;
    color: white;
    border-radius: 50px;
}
.food{
    margin-top: 20px;
    gap: 10px;
    background-color: var(--background-dish);
    padding: 15px;
    border-radius:50px;
    font-size: 25px;
    transition: 300ms ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
.food a {
    display: flex;
    justify-self: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.food:hover{
    background-color: var(--food-hover);
}
.popup {
    position: fixed;
    inset: 0;                                
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);          
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
    z-index: 9999; 
    color:black;                          
}
.popup:target {
    visibility: visible;
    opacity: 1;
}
.popup-window {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
#popup-btn{
    padding: 8px 18px;
    border-radius: 25px;
    background-color: var(--background-button);
    color: white;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    border: none;
}
#popup-btn:hover{
    background-color: #000000;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 35px;
    color: black;
    font-weight: bold;
}
.close:hover {
    color: red;
}
img{
    width: 200px !important;
    height: 200px !important;
    height: auto;
    object-fit: cover;
    border-radius:50%;   
    transition:600ms ease;
}
img:hover{
    transform: scale(1.1);
}
a{
    text-decoration: none;
    color: var(--text-color);
    transition:300ms ease;
}
a:hover{
    color: var(--btn-hover);
}
:root {
  --background: #ffffff;
  --background-dish: #c2c2bc;
  --food-hover: #3f3f3f;
  --background-button: #202020;
  --btn: #c9c9c9;
  --btn-hover: #ffffff;
  --text-color: #000000;
  --footer: #e0e0e0;
}
body {
  background-color: var(--background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--text-color);
}
nav {
  display: flex;
  justify-content: flex-end;
}
.navs {
  display: flex;
  list-style: none;
  gap: 30px;
}
.navs a {
  padding: 8px 18px;
  border-radius: 25px;
  background-color: var(--background-button);
  color: white;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.intro {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('');
  background-size: cover;
  height: 80vh;
  background-attachment: fixed;
  transition: 300ms ease;
}
.specials {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  transition: 300ms ease;
}
h3 {
  text-align: center;
  font-size: 35px;
}
.food {
  text-align: center;
  background-color: var(--background-dish);
  padding: 15px;
  border-radius: 50px;
  position: relative;
  font-size: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: 300ms ease;
}
.food:hover {
  background-color: var(--food-hover);
}
.specials img {
  width: 200px !important;
  height: 200px !important;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  transition: 600ms ease;
}
.specials img:hover {
  transform: scale(1.1);
}
a {
  text-decoration: none;
  color: var(--text-color);
  transition: 300ms ease;
  cursor: pointer;
}
a:hover {
  color: var(--btn-hover);
}
.popup {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);

  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease;
  z-index: 9999;
}
.popup-window {
  background: white;
  position: relative;
  padding: 30px;
  width: 350px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
#popup-btn {
  padding: 8px 18px;
  border-radius: 25px;
  background-color: var(--background-button);
  color: white;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  border: none;
}
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 35px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.close:hover {
  color: red;
}
footer {
  background-color: var(--footer);
  color: var(--text-color);
  padding: 25px 20px;
  font-size: 16px;
  margin-top: 50px;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
.bottom {
  text-align: center;
  font-size: 14px;
  color: #555;
}
:root{
    --background: #ffffff;
    --background-dish: #c2c2bc;
    --about-hover: #3f3f3f;
    --background-button: #202020;
    --btn: #c9c9c9;
    --btn-hover: #ffffff;
    --text-color: #ffffff;
    --footer:#e0e0e0;
}
body{
    background-color: var(--background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}
nav{
    display: flex;
    justify-content: flex-end;
}
.navs{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navs a{
    padding: 8px 18px;
    border-radius: 25px;
    background-color: var(--background-button);
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: 0.3s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}
.welcome , .about, .vision{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: var(--about-hover);
    border-radius: 25px;
    margin: 30px;
    padding: 20px;
}
img{
    width: 200px !important;
    height: 200px !important;
    height: auto;
    object-fit: cover;
    border-radius:50%;   
    transition:600ms ease;
}
img:hover{
    transform: scale(1.1);
}
footer{
    background-color: var(--footer);
    color: black;
    padding: 25px 20px;
    font-size: 16px;
    margin-top: 50px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.1);
}
a:hover{
    color: var(--btn-hover);
}
.menu-layout {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}

.cart-section {
  background: #111;
  color: white;
  padding: 20px;
  border-radius: 12px;
  position: sticky;
  top: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-item button {
  margin: 0 5px;
}
